<nav class="navbar navbar-expand-lg  navbar-light bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand text-light" href="/">Tools-Images</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/upload">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Link</a>
          </li>
      </div>
    </div>
  </nav>